.app-container {
  text-align: center;
  margin-top: 50px;
}

nav {
  margin: 20px 0;
}

button {
  background-color: #2da0a8;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: #1e7f81;
}
