.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2da0a8;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
